.icon-button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center; /* Poravnava navpično */
    justify-content: center; /* Poravnava vodoravno */
    width: 40px;
    height: 40px; /* Višina gumba nastavljena na 40px */
    margin-top: -8px; /* Poravnava glede na vnosno polje */
    margin-left: -5px;
}
.icon-button svg {
    width: 24px;
    height: 24px;
    fill: #6c757d; /* Barva ikone */
}
.icon-button:hover svg {
    fill: #007bff; /* Barva ikone ob premiku miške */
}
